##########################
# UnReal Specific Excludes
##########################
/Intermediate/*
/Saved/*
/Binaries/*
/Build/*
/DerivedDataCache/*
*.uasset
*.iph
##########################
# Visual Studuis Excludes
#########################
*.VC.db
*.ipch

 Binaries
 DerivedDataCache
 Intermediate
 Saved
 *.VC.db
 *.opensdf
 *.opendb
 *.sdf
 *.sln
 *.suo
 /*.suo
 *.xcodeproj
 *.xcworkspace

 Content/*_BuiltData.uasset
 Build/*
